.navbar-brand img {
  width: 200px;
}

.carousel-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.carousel-item img {
    max-height: 800px;
}

.card-img-top {
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.card-body {
    padding: 10%;
    text-align: center;
}

.competition-result h4 {
    text-align: center;
    margin-top: 2%;
}

.classification-result h4 {
    text-align: center;
    margin-top: 2%;
}

.ref-card .card {
  transition: all 0.3s ease;
}

.ref-card:hover .card {
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.ref-card img {
    max-width: 300px;
    max-height: 300px;
}